* {
    font-family: 'Montserrat', sans-serif;
}

textarea {
    text-align: center;
    background-color: #1f1f1f;
    color: white;
    resize: none;
}

::selection {
    color: white;
    background: black;
}

.container h1 {
    float: right;
    position: relative;
    right: 780px;
    top: 16px;
}

body {
    margin: 1em;
    background-color: white;
}
.card {
    margin-bottom: 1em;
}
.thumbnail {
    margin-bottom: 2em;
}
.list-group {
    margin-bottom: 2em;
}
.disable-hover {
    pointer-events: none;
}
.link-item {
    list-style-type: none;
    padding: 17px 15px;
    display: block;
    color: #4f89bb !important;
    text-align: left;
}
.link-item:hover {
    border: 1px solid #ddd;
    background-color: #f5f5f5;
}

html.can-touch .link-item:hover{ /* disable hover effect when input is touch */
    background-color: #fff;
}

html.can-touch .link-item:active{ /* disable hover effect when input is touch */
    background-color: #f5f5f5;
}

.fa {
    font-size: 16px;
    margin-left: 5px;
    margin-right: 10px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1f1f1f;
        color: white;
    }

    .card-header {
        background-color: #2f2f2f;
    }
    .card-body {
        background-color: #1f1f1f;
    }
    .jumbotron {
        background-color: #2f2f2f;
    }

    .list-group-item {
        background-color: #1f1f1f;
        border-color:  #2f2f2f;;
    }

    html.can-touch .link-item:hover{ /* disable hover effect when input is touch */
        background-color: #1f1f1f;
    }
    
    html.can-touch .link-item:active{ /* disable hover effect when input is touch */
        background-color: #1f1f1f;
    }

    input[type="checkbox"] {
        -webkit-appearance: none;
        visibility: hidden;
        display: none;
    }

    /* .check {
        position: relative;
        display: block;
        width: 40px;
        height: 20px;
        background: #092c3e;
        cursor: pointer;
        border-radius: 20px;
        overflow: hidden;
    }

    input[type="checkbox"]:checked ~ .check {
        background: white;
        box-shadow: 0 0 0 1200px #092c3e;
        */
    }

    ul {
        position: absolute;
        top: 20px;
        right: 20px;
        margin: 0;
        padding: 0;
        width: 120px;
        height: 30px;
        z-index: 1;
        border: 1px solid #000;
        cursor: pointer;
        overflow: hidden;
    }

    ul li {
        list-style: none;
        width: 100%;
        height: 60px;
        text-align: center;
        text-transform: uppercase;
    }

    ul.active li {
        transform: translateY(-30px);
    }

    body.dark {
        background: white;
    }

    ul li span {
        display: block;
        height: 30px;
        width: 100%;
        line-height: 30px;
    }

    ul li span:nth-child(1) {
        background: #1f1f1f;
        color: #fff;
    }